<!DOCTYPE html>
<html>

{{> head title="Film section"}}

<body>

      {{> navbar}}
      <div class="ui special cards film-grid">
         {{> film_card}}
      </div>

      {{> footer}}
      <script>

         $('.special.cards .image').dimmer({
            on: 'hover'
         });
      </script>
</body>

</html>
