<div class="card">
   <div class="blurring dimmable image">
      <div class="ui dimmer">
         <div class="content">
            <div class="center">
               <div class="ui inverted button">Guarda</div>
            </div>
         </div>
      </div>
      <img src="/images/avatar.jpg">
   </div>
   <div class="content">
      <a class="header">Avatar</a>
      <div class="meta">
         <span class="date">Fantascienza</span>
      </div>
   </div>
   <div class="extra content">
      <span class="right floated star">
        <i class="star icon"></i>
        Preferito
     </span>
   </div>
</div>
