<div class="ui inverted vertical footer segment footer-custom blue">
   <div class="ui center aligned container">
      <img src="images/logo.png" class="ui centered mini image">
      <!--<div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Site Map</a>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
   </div>-->
      <div class="created-by"><span>Created by &lambda;uca & &lambda;uca</span></div>
   </div>
</div>
