<div class="ui fixed inverted menu header-bar blue">
   <div class="ui container">
      <a href="#" class="header item">
         <img class="logo" src="images/logo.png"> &lambda;-Media
      </a>
      <a href="#" class="item">Home</a>
      <a href="#" class="item">Film</a>
      <a href="#" class="item">Serie TV</a>
      <a href="#" class="item">Musica</a>
      <!--
      <div class="ui simple dropdown item">
         Dropdown <i class="dropdown icon"></i>
         <div class="menu">
            <a class="item" href="#">Link Item</a>
            <a class="item" href="#">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
               <i class="dropdown icon"></i> Sub Menu
               <div class="menu">
                  <a class="item" href="#">Link Item</a>
                  <a class="item" href="#">Link Item</a>
               </div>
            </div>
            <a class="item" href="#">Link Item</a>
         </div>
      </div>
   -->
   </div>
</div>
